<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>



<h1> Computer picked</h1>
<p>
    <span class="gameName" th:text="${game.name}"></span>
</p>
<p>
    <img src="../static/images.game/0.jpg"
         th:src="'images.game/'+ ${game.number} + '.jpg'"
         alt="Rock Paper Scissor"
         th:alt="${game}" width="200" height="300">
</p>

<h1>You picked</h1>

<div th:switch="${game.option}">
    <p th:case="0">Rock</p>
    <p th:case="1">Paper</p>
    <p th:case="2">Scissor</p>

</div>

<p>
    <img src="../static/images.game/0.jpg"
         th:src="'images.game/'+ ${game.option} + '.jpg'"
         alt="Rock Paper Scissor"
         th:alt="${game}" width="200" height="300">
</p>

<span class="whoWon" th:text="${game.whoWon()}"></span>

<p>
    <a href="Input.html" th:href="@{Input}">Play Again</a>

</p>

</body>
</html>