<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
</head>
<body>


<p>
    Computer picked
    <span class="gameName" th:text="${game.name}">Rock Paper Scissor</span>
</p>
<p>
    <img src="../static/css/images/game/0.jpg"
         th:src="'images/game/'+ ${game.number} + '.jpg'"
         alt="Rock Paper Scissor"
         th:alt="${game}">
</p>


<div th:switch="${game.option}">
    <p th:case="0">Rock</p>
    <p th:case="1">Paper</p>
    <p th:case="2">Scissor</p>

</div>

<p>
    <img src="../static/css/images/game/0.jpg"
         th:src="'images/game/'+ ${game.option} + '.jpg'"
         alt="Rock Paper Scissor"
         th:alt="${game}">
</p>



<p>
    <a href="Input.html" th:href="@{Input}">Play Again</a>

</p>

</body>
</html>