<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css" th:href="@{css/main.css}">
    <title>Output</title>
</head>
<body>
<h1>Output</h1>

<p>
    <label>
        Name:
    </label>
    <span class="output" th:text="${user.firstName}">
    </span>
</p>
<p>

<label>
    Status:
</label>
<div  th:switch="${user.input2}">
    <p th:case="0">Faculty</p>
    <p th:case="1">Staff</p>
</div>

<p>
    <a href="Index.html" th:href="@{Index}">Back to Input</a>
    </p>
</body>
</html>