body{
    font-family: sans-serif;
    padding-left: 1em;
    background-color: antiquewhite;
}
h1{
    padding-left: 1em;
    font-family: sans-serif;
    color: forestgreen;
}

a{
    padding-left: 1em;
    font-family: sans-serif;
    color: aqua;

}