<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Customer List</title>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main>
    <h1>List All</h1>
    <table th:unless="${#lists.isEmpty(customers)}">
        <tr>
            <th>Count</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Detailss</th>
        </tr>
        <tr th:each="s,c: ${customers}">
            <td th:text="${c.count}">1</td>

            <td th:text="${s.firstName}">Walter</td>
            <td th:text="${s.lastName}">White</td>
            <td>
                <a href="StudentDetails.html" th:href="@{CustomerDetails/{id}(id=${s.id})}">Details</a>

            </td>
        </tr>
        <!--/*-->
        <tr>
            <td>2</td>
            <td>Mehmet</td>
            <td>Guney</td>
            <td>
                <a href="CustomerDetails.html">Details</a>

            </td>
        </tr>
        <!--*/-->
    </table>
    </main>

</body>
</html>